<header>
  <nav class="bg-green-900 mb-10 lg:mb-20 xl:mb-32">
    <div class="flex">
    <div class="flex">
      <%= image_tag("Logo.svg", :alt => "Backwardible Logo", :class => "block w-12 ml-4 mt-4") %>
      <%#= image_tag("Backwardible", :alt => "Logo", :class => "block ml-2 w-24 text-white") %>
      </div>
    </div>
  </nav>
</header>