<header>
  <nav class="bg-green-900 mb-10 lg:mb-16 xl:mb-20">
    <div class="block">
      <%= image_tag("Logo.svg", :alt => "Backwardible Logo", :class => "block w-12 ml-4 mt-4") %>
      <%#= image_tag("Backwardible", :alt => "Logo", :class => "block ml-2 w-24 text-white") %>
    </div>
  </nav>
</header>